In [1]:
import matplotlib.pylab as plt
import numpy as np
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn import datasets
import pandas as pd
data_frame = pd.read_csv("E:/thesisCode/data/pima-data.csv")

In [2]:
# Deleting 'skin' column completely
del data_frame['skin']
# Checking if the action was successful or not
data_frame.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

In [3]:
# Mapping the values
map_diabetes = {True : 1, False : 0}

# Setting the map to the data_frame
data_frame['diabetes'] = data_frame['diabetes'].map(map_diabetes)

# Let's see what we have done
data_frame.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
x= data_frame
y=x

In [5]:
y.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [6]:
x.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [7]:
col_list = ['num_preg' , 'glucose_conc' , 'diastolic_bp' , 'thickness' , 'insulin' , 'bmi' , 'diab_pred' , 'age']
col_list_y=['diabetes']

In [8]:
x = x[col_list]

In [9]:
y = y[col_list_y]

In [10]:
x.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32

In [11]:
y.head(3)

   diabetes
0         1
1         0
2         1

In [12]:
from sklearn.impute import SimpleImputer
#imp_mean = SimpleImputer(missing_values=0, strategy='mean')
my_imputer = SimpleImputer(missing_values=0, strategy='mean')

x = pd.DataFrame(my_imputer.fit_transform(x))

In [13]:
x.head(3)

     0      1     2         3           4     5      6     7
0  6.0  148.0  72.0  35.00000  155.548223  33.6  0.627  50.0
1  1.0   85.0  66.0  29.00000  155.548223  26.6  0.351  31.0
2  8.0  183.0  64.0  29.15342  155.548223  23.3  0.672  32.0

In [14]:
x.columns = ['num_preg' , 'glucose_conc' , 'diastolic_bp' , 'thickness' , 'insulin' , 'bmi' , 'diab_pred' , 'age']

In [16]:
x.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
0,6.0,148.0,72.0,35.00000,155.548223,33.6,0.627,50.0
1,1.0,85.0,66.0,29.00000,155.548223,26.6,0.351,31.0
2,8.0,183.0,64.0,29.15342,155.548223,23.3,0.672,32.0

In [21]:
from sklearn.model_selection import train_test_split

# Saving 30% for testing
split_test_size = 0.30

# Splitting using scikit-learn train_test_split function

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = split_test_size, random_state = 42)

In [19]:
x_train.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
334,1.000000,95.0,60.0,18.0,58.0,23.9,0.260,22.0
139,5.000000,105.0,72.0,29.0,325.0,36.9,0.159,28.0
485,4.494673,135.0,68.0,42.0,250.0,42.3,0.365,24.0

In [20]:
x_test.head(3)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age
668,6.0,98.0,58.0,33.00000,190.000000,34.0,0.430,43.0
324,2.0,112.0,75.0,32.00000,155.548223,35.7,0.148,21.0
624,2.0,108.0,64.0,29.15342,155.548223,30.8,0.158,21.0

In [22]:
y_train.head(3)

     diabetes
334         0
139         0
485         1

In [23]:
y_test.head(3)

     diabetes
668         0
324         0
624         0

In [39]:
from sklearn.naive_bayes import GaussianNB

# create Gaussian Naive Bayes model object and train it with the data
nb_model = GaussianNB()

nb_model.fit(x_train, y_train.values.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [41]:
prediction_from_trained_data = nb_model.predict(x_train)

In [42]:
# performance metrics library
from sklearn import metrics

# get current accuracy of the model

accuracy = metrics.accuracy_score(y_train, prediction_from_trained_data)

print ("Accuracy of our naive bayes model is : {0:.4f}".format(accuracy))

Accuracy of our naive bayes model is : 0.7542

In [44]:
# this returns array of predicted results from test_data
prediction_from_test_data = nb_model.predict(x_test)

accuracy = metrics.accuracy_score(y_test, prediction_from_test_data)

print ("Accuracy of our naive bayes model is: {0:0.4f}".format(accuracy))

Accuracy of our naive bayes model is: 0.7359

In [50]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [51]:
models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVC', SVC()))
models.append(('LR', LogisticRegression()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('GNB', GaussianNB()))
models.append(('RF', RandomForestClassifier()))
models.append(('GB', GradientBoostingClassifier()))

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [57]:
names = []
scores = []
for name, model in models:
    model.fit(x_train, y_train.values.ravel())
    y_pred = model.predict(x_test)
    scores.append(accuracy_score(y_test, y_pred))
    names.append(name)
tr_split = pd.DataFrame({'Name': names, 'Score': scores})
print(tr_split)

  Name     Score
0  KNN  0.675325
1  SVC  0.653680
2   LR  0.753247
3   DT  0.709957
4  GNB  0.735931
5   RF  0.748918
6   GB  0.735931

C:\Users\rirok\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\rirok\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)